* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --bg-app: #111;
    --text: #f1f5f9;
    --bg-panel: #1E1E1E;
    --glass: rgba(255, 255, 255, 0.1);
}

/* @ Editor and Workspaces */
.editor {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-app);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.workspace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.panel {
    height: 100%;
    width: 16rem;
    background-color: var(--bg-panel);
}

/* @ Canvas Area */
#canvas {
    position: relative;
    width: 75%;
    height: 80vh;
    background: #efefef;
    cursor: grab;
    margin: auto;
    overflow: hidden;
    overscroll-behavior: none;
}

#canvas:active {
    cursor: grabbing;
}

/* @ Canvas Elements Styles */
.element.selected {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.element.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @ Toolbar */
.toolbar {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--glass);
    display: flex;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    gap: 1.5rem;
    border-radius: 0.5rem;

    .icon {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .icons.active {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
    }
}