* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --bg-app: #111;
    --text: #f1f5f9;
    --bg-panel: #1E1E1E;
    --glass: rgba(255, 255, 255, 0.1);
}

.editor {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-app);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.workspace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#canvas {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    background: #efefef;
    cursor: grab;
    overflow: hidden;
    overscroll-behavior: none;
}

#canvas:active {
    cursor: grabbing;
}

.panel {
    height: 100%;
    width: 16rem;
    background-color: var(--bg-panel);
}

.toolbar {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--glass);
    display: flex;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    gap: 1.5rem;
    border-radius: 0.5rem;

    .icon {
        font-size: 1.5rem;
        cursor: pointer;
    }
}