* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

:root {
    --bg-app: #111;
    --text: #f1f5f9;
    --bg-panel: #1E1E1E;
    --glass: rgba(255, 255, 255, 0.1);
    --accent: #2563eb;
    --helper: #efefef;
}

/* @ Editor and Workspaces */
.editor {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-app);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

.workspace {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.panel {
    height: 100%;
    width: 16rem;
    background-color: var(--bg-panel);
}

/* @ Canvas Area */
#canvas {
    position: relative;
    width: 75%;
    height: 80vh;
    background: var(--helper);
    cursor: grab;
    margin: auto;
    overflow: hidden;
    overscroll-behavior: none;
}

#canvas:active {
    cursor: grabbing;
}

/* @ Canvas Elements Styles */
.element {
    position: absolute;
}

.element.selected {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

.element.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @ Toolbar */
.toolbar {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--glass);
    display: flex;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    gap: 1.5rem;
    border-radius: 0.5rem;

    .icon {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .icons.active {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
    }
}

/* @ Resize Handles */
.resize-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--helper);
    border: 1px solid var(--accent);
    z-index: 10;
}

.resize-handle.tl {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resize-handle.tr {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resize-handle.bl {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resize-handle.br {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}